.calendar-body {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: minmax(120px, auto);
  grid-gap: 1px;
  background-color: lightgray;
  border: 1px solid;
  border-color: lightgray;
}

.day {
  background-color: white;
  text-align: left;
  padding: 14px 0px;
  font-size: 14px;
  border-color: lightgray;
  display: flex;
  flex-direction: column;
}

.week-day {
  background-color: white;
  font-size: 16px;
  line-height: 50px;
  font-weight: bold;
  color: lightgray;
  text-transform: uppercase;
  text-align: center;
}

.span-day {
  padding-left: 10px;
}

.span-pad-day {
  color: lightgray;
}
